.fork {
    width: 40px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.clipboard {
    width: 40px;
    height: 40px;
    margin-bottom: 35px;
}
.add {
    width: 40px;
    height: 40px;
}